table {
  border-collapse: collapse;
  width: 500px;
  margin: 40px;
}

th,
td {
  border: 1px solid silver;
  padding: 8px;
}

th span {
  font-size: 70%;
  padding: 5px;
  border: silver 0.5px solid;
  margin-left: 3px;
}
th {
  background-color: tomato;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

th span:hover {
  background-color: navy;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ffae42;
}
